<!DOCTYPE html>
    <!--
      -Name: Jenna Pedersen
      -UnityID: jspeders
      -Date: 11/22/2019
      -Assignment: Webpages GL
      -Description: Guided lab assignment, about me webpage
      -->
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <link href="style.css" rel="stylesheet" type="text/css" />
        <title>About Jenna Pedersen</title>
    </head>
    
    <body>
    <!-- This is the title for the about me page -->

    <h2>About me: I am a freshman</h2>    

    </body>
    
</html>
